.card{
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    width: 100%;
    padding: 1rem;
    transform: scale(1);
    transition: 250ms;
}

.card:hover{
    transform: scale(1.075);
    transition: 250ms;
    z-index: 99;
}

/*  */