.card{
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.45);
    width: 100%;
    transform: scale(1);
    transition: 250ms;
}

.card:hover{
    transform: scale(1.075);
    transition: 250ms;
    z-index: 99;
}

/*  */