.wrapper{
    display: grid;
    grid-template-columns: [image] 33.3%  1fr;
    grid-template-rows: [timeline]50px 10rem 1fr;
    padding: 5%;
    margin: 5%;
    background-color: var(--background-navbar);
    border-radius: 25px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.15);
}

.wrapper:hover{
    z-index: 98;
    cursor: pointer;
}

.wrapper img{
    grid-column: image;
    grid-row: 2;
    width: 75%;
    display: block;
}

.wrapper .content{
    grid-column: 3;
    grid-row: 1 / 4;
    padding: 15% 5% 5% 5%;
    text-align: left;
}

.skills{
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    align-items: center;
    display: -ms-flexbox;
    overflow: hidden;
    justify-content: center;
    padding: 5% 10% 0 10%;

}

.text{
    padding: 5% 0 5% 0;
}

.skill{
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    color: var(--text-color);
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.45);
}

.skill:hover{
    transform: scale(1.05);
    transition: 250ms;
}

.timeline{
    grid-row: 1;
    grid-column: 1 / 4;
}
