.active{
    height: 12rem;
    transition: all .5s ease-in-out;
}

.hidden{
    height: 0;
    transition: all .5s ease-in-out;
}

.skills div:nth-child(1){
    background-color: var(--darkpurple)
}

.skills div:nth-child(2){
    background-color: var(--lightblue)
}

.skills div:nth-child(3){
    background-color: var(--lightgreen);
}

.skills div:nth-child(4){
    background-color: var(--lightorange);
}

.skills div:nth-child(5){
    background-color: var(--lightpurple);
}