.active{
    height: 13.5rem;
    transition: all .5s ease-in-out;
}

.hidden{
    height: 0;
    transition: all .5s ease-in-out;
}

@media (max-width: 768px) {
    .active{
        height: 100%;
    }
}