.wrapper{
    display: grid;
    grid-template-columns: [image] 33.3%  1fr;
    grid-template-rows: 2rem 2rem 4rem;
    padding: 5%;
}

h4{
    color: var(--text-color);
    margin: 5px;
}

h5{
    color: var(--text-color);
    margin: 5px;
}

p{
    color: var(--text-color);
    margin: 5px;
}

.wrapper img{
    grid-column: image;
    grid-row: 1 / 4;
    width: 100%;

}

.wrapper .content{
    grid-column: 2;
    grid-row: 1 / 4;
    padding: 5%;
    text-align: center;
}