.wrapper{
    border-radius: 25px;
    display: flex;
    padding: 1% 5% 1% 5%;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.45);
    margin-bottom: 1%;
}

.wrapper:hover{
    transform: scale(1.05);
    transition: 250ms;
    cursor: pointer;
}


.title{
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
    color: var(--text-color);;
}

.icon{
    padding-top: 2px;
    padding-right: 5px;
    color: var(--text-color);
}

.blue{
    background-color: var(--lightblue);
}

.green{
    background-color: var(--lightgreen);
}

.purple{
    background-color: Var(--lightpurple);
}

.orange{
    background-color: var(--lightorange);
}

.yellow{
    background-color: var(--lightyellow);
}

.darkBlue{
    background-color: var(--darkblue);
}

.darkGreen{
    background-color: var(--darkgreen);
}

.darkPurple{
    background-color: var(--darkpurple);
}


