.Navbar{
    position: fixed;
    display: grid;
    grid-template-columns: 1fr [links]2fr [socials]2fr;
    top: 0;
    width: 100%;
    height: 5rem;
    background: var(--background-navbar);
    z-index: 99;
    box-shadow: #292929 0px 0px 10px;
}

.themeSwitch{
}

.navbarLinks{

}

/* Darkmode: background: #494949; */

.socials{
    grid-area: 1 / 3 / 2 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.socials a{
    margin: 0 1rem;
}

.socials a:hover{
    transform: scale(1.1);
    transition: 250ms;
}

.LinkedIn{
    color: #0077B5;
}

.GitHub{
    color: var(--githubIcon);
}

/* Darkmode: color: #fafafa; */

.Email{
    color: #f3b000;
}

.Instagram{
    color: #E1306C;
}

.links{
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.links a{
    margin: 0 1rem;
}

