
.layer{
    display: flex;
    padding-left: 18%;
    padding-right: 18%;
}

.layer_text{
    display: flex;
    padding-left: 16.25%;
    padding-right: 16.25%;
}


.dot{
    height: 10px;
    width: 20px;
    background-color: var(--text-color);
    border-radius: 100%;
    display: inline-block;
}

.filler{
    width: 100%;
    display: inline-block;
}

.line{
    margin-top: 3px;
    height: 2px;
    width: 100%;
    background-color: var(--text-color);
    display: inline-block;
}