.picture{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.pictureInactive{
    display: none;
}

.pictureActive{
    z-index: 2;
    transform: scale(1);
    transition: 500ms;
}

.pictureActive:hover{
    transform: scale(1.1);
    transition: 500ms;
}

.left{
    transform: translateX(-15%) scale(0.9);
    transition: 500ms;
}

.right{
    transform: translateX(15%) scale(0.9);
    transition: 500ms;
}

.container{
    position: relative;
    width: 100%;
    height: 100%;
}

.slider{
    position: inherit;
    margin-bottom: 155%;
}


.buttons{
    display: flex;
    justify-content: space-evenly;
}
.button:hover{
    transform: scale(1.1);
    background-color: rgba(255, 255, 255, 0.9);;
    transition: 250ms;
}

.button{
    border: none;
    background-color: rgba(192, 192, 192, 0.4);
    border-radius: 25px;
    cursor: pointer;
    outline: none;
    width: 25%;
}
