.picture{
    position: absolute;
}

.pictureInactive{
    display: none;
}

.pictureActive{
    z-index: 9;
    transform: scale(1);
    transition: 500ms;
}

.left{
    transform: translateX(-15%) scale(0.9);
    transition: 500ms;
    opacity: 0.3;
}

.right{
    transform: translateX(15%) scale(0.9);
    transition: 500ms;
    opacity: 0.3;
}
