.picture{
    position: absolute;
}

.pictureInactive{
    display: none;
}

.pictureActive{
    z-index: 9;
    transform: scale(1);
    transition: 500ms;
}

.left{
    transform: translateX(-15%) scale(0.9);
    transition: 500ms;
    opacity: 0.3;
}

.right{
    transform: translateX(15%) scale(0.9);
    transition: 500ms;
    opacity: 0.3;
}

.container{
    position: inherit;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.slider{
    grid-area: 1 / 2 / 2 / 2;
}
.buttons{
    grid-area: 3 / 2 / 3 / 8;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    align-content: space-evenly;
}

.button{
    border: none;
    background-color: rgba(72, 119, 255, 0.4);
    border-radius: 50%;
    cursor: pointer;
    outline: none;
}

.buttonLeft{
    grid-area: 1 / 1 / 2 / 2;
}

.buttonRight{
    grid-area: 1 / 4 / 2 / 5;
}