.App {
  text-align: center;
  position: relative;
  padding: 1% 20% 0 20%;
}

.aboutMe {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px 45px;
}

.Header { grid-area: 1 / 1 / 2 / 6;}
.PictureSlider {
  grid-area: 2 / 1 / 7 / 2;
  margin-right: 10%;
}
.Hi { grid-area: 2 / 2 / 3 / 6; }
.General { grid-area: 3 / 2 / 4 / 6; }
.AboutMyself { grid-area: 4 / 2 / 5 / 6;}

/* Path: src\App.js */
