.App {
  text-align: center;
  padding: 5%;
}

.aboutMe {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px 10px;
}
.Header { grid-area: 1 / 1 / 2 / 5;}
.PictureSlider { grid-area: 2 / 1 / 5 / 2;}
.Hi { grid-area: 2 / 2 / 3 / 5; }
.General { grid-area: 3 / 2 / 4 / 5; }
.AboutMyself { grid-area: 4 / 2 / 5 / 5;}

/* Path: src\App.js */
